<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="../static/lib/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/lib/Jquery/jquery.js"></script>
    <script src="../static/lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/flash.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="../static/img/logo.png" alt="Logo"> SweetsParadise
            </a>
            <!-- Switch button: can be displayed on a small screen -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navigation link -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- Home -->
                    <li class="nav-item me-4 ">
                        <a class="nav-link" href="{{ url_for('home')}}">Home</a>
                    </li>
                    <!-- All products-->
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('products', category='all')}}">All</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('products', category='cake')}}">Cakes</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('products', category='bread')}}">Bread</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('products', category='pastry')}}">Pastry</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('products', category='accessory')}}">Accessories</a></li>
                        </ul>
                    </li>
                    <!-- Self-Pick -->
                    <li class="nav-item me-4">
                        <a class="nav-link" href="#">Self-Pick</a>
                    </li>
                    <!-- search -->
                    <li class="nav-item me-4 search position-relative">
                        <form class="d-flex" action="{{ url_for('products', category=category if category else 'all') }}" method="get">
                            <input type="hidden" name="search" value="search_products">
                            <input type="hidden" name="sort_by" value="{{ request.args.get('sort_by', 'default') }}">
                            <input type="hidden" name="category" value="{{ category if category else 'all' }}">
                            <input class="form-control me-2" name="content" type="text" placeholder="Inquire.." value="{{ request.args.get('content', '') }}" aria-label="Inquire about goods">
                            <button type="submit" class="btn search-btn"></button>
                        </form>
                    </li>
                    <!-- cart -->
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{{ url_for('cart')}}">
                            <img src="../static/img/cart.png" alt="cart">
                        </a>
                    </li>
                    <!-- My -->
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{{ url_for('profile')}}">My</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h3 class="select_address">Select a Delivery Address</h3>
    {% if not addresses %}
        <p class="no_address">You don't have any saved addresses. </p>
    {% endif %}
    <div>
        <a href="{{ url_for('add_address') }}" class="btn btn-add">Add a New Address</a>
    </div>
    <form action="{{ url_for('select_address', order_id=order.id) }}" method="POST">
        <ul>
            {% for address in addresses %}
            <li class="address-item">
                <div class="address-info">
                    <label>
                        <input type="radio" name="address_id" value="{{ address.id }}" {% if address.is_default %}checked{% endif %}>
                        <p><strong>Contact Name:</strong> {{ address.contact_name }}</p>
                        <p><strong>Phone Number:</strong> {{ address.phone_number }}</p>
                        <p><strong>Address:</strong> {{ address.country }} {{ address.city }} {{ address.detailed_address }}</p>
                        {% if address.is_default %}
                        <p><strong class="default-label">Default Address</strong></p>
                        {% endif %}
                    </label>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="payment-action">
            <button type="submit" class="btn btn-confirm" name="action" value="Confirm payment">Confirm payment</button>
            <button type="submit" class="btn btn-cancel" name="action" value="Cancel payment">Cancel payment</button>
        </div>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash-messages">
        {% for category, message in messages %}
        {% if category == 'success' %}
        <li class="flash-message alert alert-success">
            {{ message }}
        </li>
        {% elif category == 'fail' %}
        <li class="flash-message alert alert-danger">
            {{ message }}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</body>
</html>