<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ all_module_code }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-5.3.2-dist/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='lib/Jquery/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="admin">
<!-- Toggle Button for Small Screens -->
<button id="sidebarToggle" class="btn d-md-none" type="button">
    ☰
</button>
<nav id="sidebar">
    <div class="sidebar-header">
        <!--https://www.iconfont.cn-->
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo_todolist" class="d-inline-block, align-text-top">
        <h3>SweetsParadise</h3>
    </div>
    <ul class="list-unstyled components">
        <li class="big_nav">
            <a href="{{url_for('index')}}" class="nav-link">
                &nbsp;&nbsp;Homepage
            </a>
        </li>
        <li class="big_nav">
            <a href="{{url_for('product_sales_data')}}" class="nav-link">
                &nbsp;&nbsp;Data Statistics
            </a>
        </li>
        <li class="big_nav">
            <a href="{{url_for('edit_product')}}" class="nav-link">
                &nbsp;&nbsp;All Products
            </a>
        </li>
        <li class="big_nav">
            <a href="{{url_for('create')}}" class="nav-link">
                &nbsp;&nbsp;Create Products
            </a>
        </li>
        <li class="big_nav active">
            <a href="{{url_for('order_admin', category='ALL')}}" class="nav-link">
                &nbsp;&nbsp;Orders
            </a>
        </li>
        <li class="big_nav">
            <a href="{{url_for('customers')}}" class="nav-link">
                &nbsp;&nbsp;Customers
            </a>
        </li>
    </ul>
</nav>
<!-- Overlay for Blur Effect -->
<div id="content-overlay"></div>
<main id="content">
    <div class="choose-wrap" id="order_page">
        <div class="container-fluid">
            <ul class="tab row">
                <li class="tab-item col {% if category == 'ALL' %}active{% endif %}">
                    <a href="{{ url_for('order_admin', category='ALL') }}">
                        <img src="{{ url_for('static', filename='img/all.png') }}">
                        All Orders
                    </a>
                </li>
                <li class="tab-item col {% if category == 'UNPAID' %}active{% endif %}">
                    <a href="{{ url_for('order_admin', category='UNPAID') }}">
                        <img src="{{ url_for('static', filename='img/UNPAID.png') }}">
                        Pending Payment
                    </a>
                </li>
                <li class="tab-item col {% if category == 'UNSHIPPED' %}active{% endif %}">
                    <a href="{{ url_for('order_admin', category='UNSHIPPED') }}">
                        <img src="{{ url_for('static', filename='img/UNSHIPPED.png') }}">
                        Pending Shipment
                    </a>
                </li>
                <li class="tab-item col {% if category == 'UNRECEIVED' %}active{% endif %}">
                    <a href="{{ url_for('order_admin', category='UNRECEIVED') }}">
                        <img src="{{ url_for('static', filename='img/UNRECEIVED.png') }}">
                        Pending Receipt
                    </a>
                </li>
            </ul>
        </div>
        <div class="orders">
            <div class="main selected">
                <div class="container my-5">
                    <h1 class="mb-4">Order Management</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Status</th>
                                <th scope="col">User ID</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in display_order %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.status }}
                                     {% if order.status.name == 'UNSHIPPED' %}
                                    <form action="" method="post">
                                        <input type="hidden" name="order_id" value="{{ order.id }}">
                                        <button type="submit" class="btn btn-primary btn-sm">Deliver</button>
                                    </form>
                                {% endif %}
                                </td>
                                <td>{{ order.user_id }}</td>
                                <td>{{ order.order_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                <td>
                                    <a href="{{ url_for('order_detail', order_id=order.id) }}" class="btn btn-primary btn-sm">View Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="page-container">
            {% if current_page >1 %}
            <!-- Arrow pointing to previous page -->
            <a href="?page={{ current_page - 1 }}&category={{ category }}" class="page-btn" aria-label="Previous page">
                &laquo;
            </a>
            {% endif %}

            <!-- Home page -->
            {% if current_page > 3 %}
            <a href="?page=1&category={{ category }}" class="page-btn" aria-label="Page 1, First page">1</a>
            <span class="ellipsis">...</span>
            {% endif %}

            <!-- The page number near the current page -->
            {% for page_num in range(current_page - 2, current_page + 3) %}
            {% if page_num > 0 and page_num <= total_pages %}
            {% if page_num == current_page %}
            <a href="?page={{ page_num }}&category={{ category }}"
               class="page-btn active" aria-current="page"> {{ page_num }} </a>
            {% else %}
            <a href="?page={{ page_num }}&category={{ category }}"
               class="page-btn" aria-label="Page {{ page_num }}"> {{ page_num }} </a>
            {% endif %}
            {% endif %}
            {% endfor %}

            <!-- Trailing page -->
            {% if current_page < total_pages - 2 %}
            <span class="ellipsis" aria-hidden="true">...</span>
            <a href="?page={{ total_pages }}&category={{ category }}" class="page-btn"  aria-label="Page {{ total_pages }}, Last page" >{{ total_pages }}</a>
            {% endif %}

            {% if current_page != total_pages and current_page >=1 %}
            <!--  Arrow pointing to the next page -->
            <a href="?page={{ current_page + 1 }}&category={{ category }}" class="page-btn" aria-label="Next page">
                &raquo;
            </a>
            {% endif %}
        </div>
    </div>
</main>

</body>
</html>