<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More address</title>
    <link rel="stylesheet" href="../static/lib/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/flash.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="../static/img/logo.png" alt="Logo"> SweetsParadise
            </a>
            <!-- Switch button: can be displayed on a small screen -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navigation link -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- Home -->
                    <li class="nav-item me-4 ">
                        <a class="nav-link" href="{{ url_for('home')}}">Home</a>
                    </li>
                    <!-- All products-->
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('products', category='all')}}">All</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('products', category='cake')}}">Cakes</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('products', category='bread')}}">Bread</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('products', category='pastry')}}">Pastry</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('products', category='accessory')}}">Accessories</a></li>
                        </ul>
                    </li>
                    <!-- search -->
                    <li class="nav-item me-4 search position-relative">
                        <form class="d-flex" action="{{ url_for('products', category=category) }}" method="get">
                            <input type="hidden" name="search" value="search_products">
                            <input type="hidden" name="sort_by" value="{{ request.args.get('sort_by', 'default') }}">
                            <input type="hidden" name="category" value="{{ category }}">
                            <input class="form-control me-2" name="content" type="text" placeholder="Inquire.." value="{{ request.args.get('content', '') }}" aria-label="Inquire about goods">
                            <button type="submit" class="btn search-btn"></button>
                        </form>
                    </li>
                    <!-- cart -->
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{{ url_for('cart')}}">
                            <img src="../static/img/cart.png" alt="cart">
                        </a>
                    </li>
                    <!-- My -->
                    <li class="nav-item me-4">
                        <a class="nav-link" href="{{ url_for('profile')}}">My</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main id="edit_address">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
            {% if category == 'success' %}
            <li class="flash-message alert alert-success">
                {{ message }}
            </li>
            {% elif category == 'fail' %}
            <li class="flash-message alert alert-danger">
                {{ message }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="container_create edit">
            <div class="back-arrow">
                <a href="{{ url_for('more_addresses') }}" >
                    <img src="../static/img/arrow.png" alt="arrow_back">
                </a>
            </div>
            <h1>Please edit:</h1>
            <form action="" method="POST" class="row g-3">
                {{ form.hidden_tag() }}
                <div class="col-12">
                    <div class="form-label">{{form.contact_name.label}}</div>
                    {{ form.contact_name(class='form-control', required=False) }}
                    {% for error in form.contact_name.errors %}
                    <small class="error">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    <div class="form-label">{{ form.phone_number.label }}</div>
                    {{ form.phone_number(class='form-control', required=False) }}
                    {% for error in form.phone_number.errors %}
                    <small class="error">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-12">
                    <div class="col-form-label" >{{ form.country.label }}</div>
                    {{ form.country(class='form-control') }}
                    {% for error in form.country .errors %}
                    <small class="error">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-12">
                    <div class="col-form-label">{{ form.city.label }}</div>
                    {{form.city(class="form-control", required=False)}}
                    {% for error in form.city.errors %}
                    <small class="error">>{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-12">
                    <div class="col-form-label">{{ form.detailed_address.label }}</div>
                    {{form.detailed_address(class="form-control", required=False)}}
                    {% for error in form.detailed_address.errors %}
                    <small class="error">>{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="col-12">
                    <div class="choose_state">
                        <div class="col-form-label">{{ form.is_default.label}}</div>
                        {{ form.is_default(class="checkbox") }}
                    </div>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn submit_btn">Save Address</button>
                </div>
            </form>
        </div>
    </main>

</body>
</html>